
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: rgba( 74, 162, 114, 1);
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.tabbed {
    position: relative;
    font-size: 0;
    width: 370px;
    background-color: rgba(225, 225, 225, 1); 
}

.tabbed a:hover {
    text-decoration: none;
    transition: .5s;
    color: rgb(0, 0, 0);;
}

.tabbed ul {
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: block;
}

.tabbed input {
    display: block;
    width: 100%;
}

.tabbed > div {
    display: inline-block;
    font-size: 16px;
    background-color: #E1E1E1;
    text-align: center;
    width: 50%;
}

.tabbed > div:hover {
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
    width: 50%;
}

.tabbed > div > p {
    color: #303030;
    font-weight: 600;
    display: inline-block;
    text-align: center;    
    cursor: pointer;
}


.tabbed > div:target {
    color: #333;
    background-color: #eee;
}

.tabbed > div > form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 370px;
    display: none;
    color: #333;
    background-color: #fff;
    
}

.tab-form-wrapper{
    padding: 30px 20px 20px;
}

.tabbed > div > #form-1 {
    display: block;
}


.tabbed > div:hover > #form-2 {
    display: block;
}



.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #191970	;
    outline: none;
   }

.button {
    background: rgba( 74, 162, 114, 1);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 49%;
    text-decoration: none;
    transition: .5s;
   }

.social-icon {
    display: inline-block;
    width: 30.5%;
    background-color: rgba( 0, 0, 0, .15);
}


.fa-facebook,
.fa-google-plus
 {
    color: #fff;
    font-size: 16px;
}

.social-link {
    display: inline-block;
    width: 67%;
    text-align: left;
    color: #fff;
    margin-left: 5px;
}

.social-link span{
    font-size: 9px;
    font-weight: 300;
}


.facebook a,
.google-plus a {
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: 900;
    color: #fff;
}


.forgot-password {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 49%;
    text-decoration: none;
    color: #64AEC7;
}

.tabbed input {
    display: block;
    width: 100%;
}

.box-input {
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    transition: .5s;
    text-align: left;
}

.box-input input {
    border: none;
    border-bottom: 2px solid #e9eaea;
    padding: 10px 0;
    transition: .5s;
}

.box-input:hover {
    color: #36d2ff;
}

.box-input input:hover {
   border-bottom: 2px solid #36d2ff;
}

.facebook {
    background-color: #3064A0;
}

.google-plus {
    background-color: #C74A48;
}

#form-2 div input {
    margin-top: 23.5px;
}